h1 {
    text-align: center;
}

#gameOver {
    opacity: 25%;
}

#playField {
    display: flex;
    justify-content: center;
    align-items: center;
}

#theBoard {
    height: 200px;
    width: 200px;
}

.option {
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 200px;
    width: 200px;
    margin: 1rem;
    background-color: rgb(235, 235, 235);
    border: .25rem;
}

#buttonOne {
    animation-name: clicked;
    animation-duration: .5s;

}

@keyframes clicked {
    from {background:red;}
    to {background: rgb(235, 235, 235)}
}
